@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

* {
  border: red dashed 1px;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 15%;
}

.footer,
a,
.text {
  font-size: 18px;
  color: #e5e7eb;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 15%;
}

.logo,
.main,
button,
.cta-container {
  color: #f9faf8;
}

.logo,
.quote-caption,
.cta-header {
  font-size: 24px;
}

.logo {
  font-weight: 700;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 24px;
  font-size: 18px;
}

a {
  /* this removes the line under the links */
  text-decoration: none;
}

.hero {
  display: flex;
  gap: 32px;
  padding: 5% 15%;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.main {
  font-size: 48px;
  font-weight: 900;
}

button,
.cta-container {
  background-color: #3882f6;
  border-radius: 10px;
}

button {
  font-size: 18px;
  padding: 8px 24px;
}

img {
  width: 450px;
  border-radius: 10px;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 4% 15% 7%;
}

.info-header,
.quote {
  font-size: 36px;
}

.info-header {
  color: #1f2937;
  font-weight: 700;
}

.info-items {
  display: flex;
  gap: 52px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.info,
.info img {
  width: 150px;
}

.quote-container {
  background-color: #e5e7eb;
  padding: 4% 20%;
}

.quote {
  font-style: italic;
}

.quote-caption {
  text-align: end;
}

.cta-container {
  display: flex;
  gap: 32px;
}
