@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

* {
  border: red dashed 1px;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer,
a,
.text {
  font-size: 18px;
  color: #e5e7eb;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo,
.main,
button,
.cta-container {
  color: #f9faf8;
}

.logo,
.quote-caption,
.cta-header {
  font-size: 24px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1em;
  font-size: 18px;
}

a {
  /* this removes the line under the links */
  text-decoration: none;
}

.hero {
  display: flex;
  gap: 32px;
}

.main {
  font-size: 48px;
  font-weight: 900;
}

button,
.cta-container {
  background-color: #3882f6;
}

button {
  font-size: 18px;
  font-weight: 700;
}

img {
  width: 500px;
}

.info-header,
.quote {
  font-size: 36px;
}

.info-header {
  color: #1f2937;
  font-weight: 700;
}

.info-container {
  display: flex;
  gap: 32px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info img {
  width: 200px;
}

.quote-container {
  background-color: #e5e7eb;
}

.quote {
  font-style: italic;
}
